<div class="container">

    <div class="jumbotron text-center">
        <h1 class="display-4">Acerca de este proyecto</h1>
    </div>


    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor nulla malesuada, condimentum nisl vitae, egestas sem. Sed aliquam facilisis iaculis. Suspendisse ac justo eget felis luctus rutrum. Phasellus efficitur vel est at placerat. Sed
        vestibulum cursus dolor, et iaculis dolor eleifend sed. Mauris rutrum, orci a accumsan suscipit, turpis turpis egestas nisi, eu mollis orci metus at diam. Vestibulum ac iaculis arcu. Sed ac odio imperdiet, aliquet nisl eu, pharetra quam. Nam ac
        molestie ante. Nulla sollicitudin elit mi, ac porttitor lacus egestas a. Mauris in sem sodales, dignissim odio eu, congue lorem. Nunc eget laoreet velit. Suspendisse faucibus, massa sit amet elementum tincidunt, mi leo facilisis massa, dictum
        tristique leo sem quis quam. Phasellus hendrerit mi et pellentesque malesuada. Pellentesque et tincidunt tellus. Vestibulum est quam, accumsan id nulla nec, accumsan commodo purus. Vestibulum porta lectus eu gravida porttitor. Pellentesque consectetur
        tortor neque, ut sollicitudin ligula feugiat vel. Suspendisse ac tortor aliquet felis malesuada consequat nec at nisi. Proin vitae ante ligula. Quisque in tempor quam, sed consectetur sem. Aenean laoreet urna sit amet sagittis lobortis. Maecenas
        ut arcu eros. Praesent semper, turpis sed eleifend interdum, felis diam pretium massa, ac egestas augue lorem nec magna.
    </p>

</div>