<div class="container">

    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenidos a {{ title }}!</h1>
        <img width="200" alt="Demo Devops" src="http://blogs.itpro.es/eduardocloud/files/2018/07/DevOps-Main-Figure.png">
    </div>

    <div class="alert alert-info" role="alert">

        <div class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" [(ngModel)]="beforeTax" class="form-control" placeholder="Ingrese valor" />
            </div>
            <button class="btn btn-primary mb-2" (click)="calculateTax(beforeTax)">Calcular impuesto</button>

        </div>
        
        <hr>
        <p class="mb-0" id="afterTax">Valor con impuesto: {{afterTax}}</p>
        <hr><!--Rodri-->
        <p class="mb-0" id="tax">Impuesto: {{tax}}</p><!--Rodri-->
    </div>

</div>